<div class="col-sm-6 col-md-3">
  <div class="thumbnail img-holder">
   
    <h4>
      <%= bookmark.display.title %>
    </h4>
    <%= link_to(bookmark.url, target: "_blank") do %>
      <%= image_tag(bookmark.display.thumbnail_url, class: "image-responsive", width: 300, height: 300) %>
    <% end %>

    <div class="container-fluid">
      <ul class="list-inline">
        <% if policy(bookmark).destroy? %>
        <li>
          <%= link_to "Delete", [bookmark.topic, bookmark], method: :delete, class: "btn btn-primary btn-xs" %>
        </li>
          <% end %>

        <% if policy(bookmark).edit? %>
          <li>
            <%= link_to "Update", edit_topic_bookmark_path(bookmark.topic, bookmark), class: "btn btn-primary btn-xs", remote: true %>
          </li>
            <% end %>

        <li>
          <%= render partial: 'likes/like', locals:{ bookmark: bookmark } %>
        </li>
      </ul>
    </div>
  </div>
</div>