<h1><%= @topic.title %></h1>

  <% if policy(@bookmark).destroy? %>
    <%= link_to "Delete Bookmark", [@topic, @bookmark], method: :delete, class: 'btn btn-danger' %>
  <% end %>
  
  <% if policy(@bookmark).update? %>
    <%= link_to "Update Bookmark", topic_bookmark_path(@topic, @bookmark), method: :put, class: 'btn btn-success' %>
  <% end %>

  <div class="media">
    <h3><%= link_to @bookmark.url, @bookmark.url %></h3>
  </div>

  <%= render partial: 'likes/like', locals: {bookmark: bookmark} %>
  <div>
    <%= will_paginate @bookmarks, class: 'paginate-bookmarks'%>
  </div>
