
<div class="container">
  <h1>All Topics</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if policy(Topic.new).create? %>
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-sm' %>
      <% end %>
    </div>
  </div>

  <% @topics.each do |topic| %>
    <%= content_tag :div, id: "topic-#{topic.id}" do %>

      <div class="row">  
       <div class="container-fluid">
        <div class="row top-buffer">
          <ul class="list-inline">
            <li>
            <h3>
             <%= link_to topic.title, topic %>
             </row>
            </h3>
          </li>
          <li>
            <% if policy(topic).destroy? %>
              <%= link_to "Delete Topic", topic, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this topic and all bookmarks?' } %>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="bookmarks">
        <%= render topic.bookmarks.includes(:likes) %>
      </div>

    <% end %>
  <% end %>
</div>
