
<div class="container">
  <h1>All Topics</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if policy(Topic.new).create? %>
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-sm' %>
      <% end %>
    </div>
  </div>

  <% @topics.each do |topic| %>
 <div class="row">   <!-- wrap everyting inside the do in a row -->
 <div class="container-fluid">
  <div class="row top-buffer">
    <div class="col-sm-6 col-md-3">      
      <ul class="list-inline">
        <li>
    <h3>
     <%= link_to topic.title, topic %></row>
    </h3>
<li>
  <% if policy(topic).destroy? %>
    <%= link_to "Delete Topic", @topic, method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this topic?' } %>
  <% end %>
  </li>
</ul>
  </div>
</div>

    <div class="bookmarks">
      <%= render topic.bookmarks.includes(:likes) %>
    </div>

    <div class="row">
      <%= will_paginate @topics %>
    </div>
  <% end %>
</div>
</div>
