<div class="container-fluid">
  <h3><%= @topic.title %></h3>
</div>
  
<div class="container-fluid">
  <div class="row top-buffer">
    <div class="col-sm-6 col-md-3">
      <ul class="list-inline">
        <li>
        <% if policy(@topic).create? %>
          <p><%= link_to "Add Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-default btn-xs' %>
          </p>
          <% end %>
        </li>
 
        <li>
        <% if policy(@topic).update? %>
          <p><%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-default btn-xs'%>
          </p>
          <% end %>
        </li>
        <li>
        <% if policy(@topic).destroy? %>
          <p><%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger btn-xs'%>
          </p>
        <% end %>
        </li>
      </ul>
    </div>
  </div>

  <% @topic.bookmarks.each do |bookmark| %>
    <%= render partial: 'bookmarks/bookmark', locals: { bookmark: bookmark }%>


      <!-- Extract this into it's own partial (bookmarks/_bookmarks)
           Replace with render @topic.bookmarks -->

      
      </div>
    <% end %>
  </div>
  </div>
</div>
    

