<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="nav navbar-nav">
        <%= link_to "Blocmarks", welcome_index_path %>
        <%= link_to "About", welcome_about_path %>
        <ul class="nav navbar-nav">
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Topics <span class="caret"></span></a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Bookmark <span class="caret"></span></a>
          </li>

          <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          </ul>
        </ul>
        <div class="container">
         <ul class="nav navbar-right">  
           
          </ul>
   
      </nav>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <p class="navbar-text navbar-right">Hello <%= current_user.email %>  </p>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign In", new_user_session_path %> or
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %> 
      </ul>